*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.main-container{
    display: flex;
    flex-direction: column;
}

.main-content{
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: black;
    font-size: .825rem;
    font-weight: 550;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    height: 6rem;
    background-color: #ffffff;
    color: white;
    width: 100%;
    z-index: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    gap: 4rem;
}

.nav-left{
    width: 15%;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
    height: 2rem;
    padding-right: 2rem;
}

.logo img{
    width: 5rem;
    margin-left: 10rem;
}

.nav-division{
    border: 1px solid #ccc;
    height: 1.6rem;
}

.nav-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    /* padding-left: 5%; */
    padding-right: 10%;
}

.logo-nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.logo-nav-links img{
    height: 1.5rem;
    width: 2rem;
    align-self: center;
}

.bus-logo{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    background: #d84e55;
    padding: .8rem;
    border-radius: 8px;
}

.bus-logo > img{
    filter: grayscale(1) brightness(3);
}

.bus-tkts{
    color: white;
}

.fld-column{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.nav-links{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    grid-area: right;
    
}

.nav-links img{
    height: 1.2rem;
    width: 1.2rem;
}

.help, .account{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .625rem;
    padding: .8rem;
    border: none;
    border-radius: 10px;
}
/* 
.help{
    padding: .8rem;
    border: none;
    border-radius: 10px;
} */

.help:hover{
    background-color: #dcdbdb;
    transition: all .5s ease-in;
}

.account:hover{
    background-color: #dcdbdb;
    transition: all .5s ease-in-out;
}

.hover:hover{
    cursor: pointer;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5.5rem;
    background-image: url(assets/HomeBannerImg.svg);
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.header{
    margin-top: 4rem;
    font-size: .925rem;
    font-weight: bold;
}

.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    width: 65%;
    height: 22%;
}

.from{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-right: 10rem;
    padding-left: 2rem;
    border-right: 1px solid #ccc;
    background-color: #fff;
    height: 100%;
    width: 100%;
    gap: 1rem;
    border-radius: 30px 0 0 30px;
}

.from img{
    height: 1.5rem;
    width: 2rem;
}

.change-img{
    display: flex;
    border: 1px solid #ccc;
    border-radius: 50%;
    box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.2);
    margin-left: -.9rem;
    width: 15rem;
    z-index: 1;
}

.change{
    width: 1.5rem;
    border-radius: 50%;
    padding: .3rem;
    margin: 0 auto;
    z-index: 1;
}

.change:hover{
    cursor: pointer;
    filter: opacity(1);
}

.to-where{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 10rem;
    padding-left: 2rem;
    border-right: 1px solid #ccc;
    background-color: #fff;
    height: 100%;
    width: 100%;
    gap: 1rem;
}

.to-where img{
    height: 1.5rem;
    width: 2rem;
}

.date{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-right: 4rem;
    padding-left: 2rem;
    /* border-right: 1px solid #ccc; */
    background-color: #fff;
    height: 100%;
    width: 100%;
    gap: 1rem;
}

.date img{
    height: 2.5rem;
    width: 2.6rem;
}

input{
    border: none;
    background-color: #fff;
    height: 100%;
    width: 120%;
    font-size: 1.1rem;
    outline: none;
    font-weight: 700;
}

input::placeholder{
    color: #000;
    font-weight: 500;
}

input[type="date"]{
    outline: none;
}

.search-bus{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding-right: 2rem; */
    background-color: #fff;
    height: 100%;
    width: 170%;
    border: none;
    background-color: #d84e55;
    color: white;
    border-radius: 0 30px 30px 0;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.search-bus:hover{
    cursor: pointer;
}

.trending-section{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 2.5rem;
    width: 80%;
    padding: 2rem;
    margin-top: -13rem;
    border: none;
    background-color: #f5f5f5e5;
    border-radius: 30px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.trending-header{
    font-size: 2rem;
    font-weight: normal;
    text-transform: uppercase;
}

.trending-slider{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    overflow-y: hidden;
    overflow-x: scroll;
    border-radius: 20px;
    scrollbar-width: thin;
    scrollbar-color: #d84e55 #f5f5f5;
}

.offer-div{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    min-width: 35%;
    padding: 1rem;
    height: 15rem;
    border: none;
    border-radius: 15px;
}

.img-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-div img{
    border: none;
    border-radius: 50%;
}

.offer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    flex-wrap: nowrap;
}

.border-text{
    border:none;
    border-radius: 60px;
    background-color: #fff;
    max-width: 20%;
    text-align: center;
    padding: .5rem;
}

.coupon{
    display: flex;
    gap: 1rem;
}

.coupon p{
    color: #ffffff;
    padding: .335rem;
    border: 1px dashed #fff;
    border-radius: 5px;
}

.offer-1{
    background-image: linear-gradient(71.04deg, rgb(12, 57, 139) -6.92%, rgb(62, 118, 216) 109.43%);
}

.offer-2{
    background-image: linear-gradient(71.04deg, rgb(39, 57, 101) -6.92%, rgb(80, 210, 149) 109.43%);
}

.offer-3{
    background-image: linear-gradient(71.04deg, rgb(72, 0, 4) -6.92%, rgb(216, 78, 85) 109.43%);
}

.offer-4{
    background-image: linear-gradient(71.04deg, rgb(14, 113, 67) -6.92%, rgb(115, 236, 179) 109.43%);
}

.offer-5{
    background-image: linear-gradient(71.04deg, rgb(24, 125, 151) -6.92%, rgb(109, 213, 237) 109.43%);
}

.offer-6{
    background-image: linear-gradient(71.04deg, rgb(206, 119, 0) -6.92%, rgb(255, 194, 111) 109.43%);
}

.rental-section{
    display: flex;
    width: 80%;
    margin: 7rem auto;
}

.rental-left{
    display: flex;
    flex-direction: column;
    min-width: 45%;
}

.rental-header{
    font-size: 2.5rem;
    font-weight: normal;
    text-transform: uppercase;
}

.bold-header-text{
    font-weight: 650;
}

.rental-mode{
    display: flex;
    margin-top: 3rem;
    padding: 1rem;
    width: 90%;
    gap: 2rem;
    border-bottom: 1px solid #ccc;
}

.sidebyside-modes{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
}

.mid-line{
    border: 1px solid #ccc;
}

.cab-bus-rental{
    color: #d84e55;
    border-bottom: 3px solid #d84e55;
    margin-bottom: -1rem;
    padding-bottom: 1rem;
    padding-right: .7rem;
}

.rental-content{
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    margin-top: 2rem;
}

.rental-options{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    font-weight: 700;
}

.book-cab-bus{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 48%;
    margin-top: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-weight: 700;
    font-size: 1rem;
    color: #fff;
    background-color: #d84e55;
    border: none;
    border-radius: 15px;

}

.rental-right{
    display: flex;
    flex-direction: column;
    min-width: 55%;
    position: relative;
    background-image: url(assets/aboutUsImg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:right;
}

.rental-options-img{
    position: absolute;
    height: 600px;
    width: 300px;
    top: 60px;
    left: 20px;
}

.review-section{
    display: flex;
    align-self: center;
    width: 90%;
    margin: 2rem auto;
    padding: 2rem;
    background-image: url(assets/appInstallbg.svg);
    background-repeat: repeat;
    background-size: cover;
    background-position: right center;
    border-radius: 35px;
    color: #fff;
}

.review-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-direction: row;
    width: 60%;
    border: none;
    border-radius: 10px;
}

.review-left{
    display: flex;
    flex-direction: column;
    max-width: 45%;
}

.review-header{
    font-size: 2.2rem;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
}

.bg-white-box{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    padding-left: 2.2rem;
    padding-right: 3rem;
    border-radius: 16px;
    gap: 2rem;
    min-width: 105%;
    color: #000;
}

.features-div{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-left: -1.1rem;
    gap: 1rem;
    padding-top: 2rem;
    padding-left: 1rem;
}

.feature{
    display: flex;
    
    flex-direction: row;
    gap: .5rem;
}

.app-review{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
}

.left-star-sect, .right-star-sect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    padding-bottom: 2rem;
    margin: 0 auto;
}

.review-mid-div{
    border: 1px solid #ccc;
    height: 5rem;
}

.star-sect{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;
    color: #535353;
    gap: .3rem;
}

.star-sect img{
    height: 1rem;
    width: 1rem;
}

.download-numbers{
    display: flex;
    color: #606060;
    font-size: .825rem;
}

.app-name{
    font-size: 1.1rem;
    font-weight: 700;
    color: #535353;
}

.review-right{
    display: flex;
    flex-direction: column;
    max-width: 55%;
    margin-top: auto;
}

.input-phone-num{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.whatsapp_no{
    display: flex;
    background-color: white;
    height: 64px;
    border-radius: 16px;
    gap: .5rem;
    align-items: center;
    margin: 20px 0 20px 0;
}

.country-code{
    color: #606060;
    padding-left: 1rem;
}


.whatsapp_no input::placeholder{
    border: none;
    background-color: #fff;
    outline: none;
    color: #606060;
    font-size: .825rem;
    font-weight: 600;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.get-link{
    border: none;
    padding: none;
    background-color: #000;
    color: #fff;
    height: 100%;
    width: 80%;
    border: none;
    border-radius: 0 16px 16px 0;
}

.download-app-options{
    display: flex;
    align-items: start;
    justify-content: center;
    width: 80%;
    gap: 2rem;
}

.scanner, .download-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.scanner img, .download-app img{
    margin-right: .3rem;
}

.primo-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0;
    gap: 1.6rem;
}

.primo-card-row{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 70%;
}

.primo-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    border-radius: 16px;
    background-color: #606060;
    /* height: 11rem;
    width: 33rem; */
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
    gap: 1.2rem;
    background-image: linear-gradient(to right, rgb(38, 72, 153), rgb(125, 70, 134));
}

.card-content{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.primo-card h4{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
}

.primo-card p{
    color: #fff;
    font-size: .725rem;
}

.partners-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: start;
    width: 78%;
    margin: 2rem auto;
}

.partner-header{
    font-size: 1.8rem;
    text-transform: uppercase;
}

.rtcs-sect{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.5rem;
    color: #535353;   
}

.view-all{
    padding: .8rem;
    border: 1px solid #535353;
    border-radius: 18px;
    background-color: #fff;
    text-transform: capitalize;
}

.view-all:hover{
    cursor: pointer;
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.2);
}

.rtc-img-sect{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.rtc-imgs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rtc-img-size{
    width: 6rem;
}

.bus-operators{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2rem auto;
    gap: 2rem;
}

.operators-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.4rem;
    color: #4a4a4a  ;
}

.operators{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2.5rem;
    list-style: none;
}

.operators li{
    border-radius: 30px;
    transition: background-color .2s ease-in;
    padding: .5rem;
}

.operators li:hover{
    cursor: pointer;
    background-color: #e3e3e3;
}

.faq-section{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 2rem;
    margin: 5rem auto;
}

.faq-header{
    font-size: 2rem;
}

.questions-links-list{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
}

.questions-links-list li{
    font-size: 1rem;
    padding-bottom: .6rem;
}

.questions-links-list li:hover{
    cursor: pointer;
    border-bottom: 3px solid #d5d5d5;
}

.questions-links-list li:first-child{
    border-bottom: 3px solid #d84e55;
    color: #d84e55;
}

.faq-questions{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 98%;
}

.questions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 700;
    font-size: .875rem;
    border: 1px solid #ececec;
    border-radius: 16px;
    padding: 1.3rem 1rem 1.3rem 1rem;
    align-items: center;
    transition: box-shadow .1s ease-in;
}

.questions:hover{
    box-shadow: 5px 10px 10px .1px rgba(0, 0, 0, 0.1);
}